/* Importações */
/* Importação da fonte Righteous do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

p, img, div {
    user-select: none;
  }

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #E5E5E5;
    overflow-x: hidden;
}
.cursor-pointer{
    cursor: pointer;
}
.roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh; /* Para centralizar o conteúdo verticalmente */
}

.conteudo{
    display: flex;
    flex-direction: column;
    padding-bottom: 8em;
}

.container-superior {
    width: 100%;
    background-color:#CF2B2B;
    height: 92px;
    padding-left: 1.3125em;
}

.container-superior h1{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 2.75em; 
    line-height: 1.25; 
    letter-spacing: -0.012em;
    color: #FFFFFF;
}
.subtitulo{
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.titulo-conteudo{
    margin-top: 1.9375em;
    box-sizing: border-box;
    margin-left: 1.1875em;  
}
.titulo-conteudo h3{
    font-weight: 400;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    line-height: 32px;
    font-style: normal;
    letter-spacing: 0.018em;
    color: #333333;
    margin-bottom: 1.0625em;
}
/* .container-conteudo{
    margin-bottom: 1.6875em;
} */
.row{
    height: auto;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: start;
}
.postagens1, .postagens2, .postagens3{
    padding-left: 1em;
    padding-right: 1em;
    height: auto;
    width: 100%;
    display:flex;
    overflow-x: auto;
    gap: 1em;
    justify-content: flex-start;
}

.post {
    width: 176px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.post-selecionada {
    border: 1px solid #32B72F;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}
  
.img-post {
    width: 144px;
    height: 87px;
    margin-right: auto;
    margin-left: auto;
}

.img-post img{
    width: 144px;
    height: 87px;
    object-fit: cover;
  }
.titulo-prato{
    margin-top: 0.5em;
    margin-left: 0.6875em;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}
.descricao-prato{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-left: 0.875em;
    margin-top: 0.4375em;
    width: 147px;
    height: 39px;
}
.preco-prato{
    margin-top: 0.3125em;
    margin-left: 0.875em;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }
  
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  

.container-btn-footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5.75em;
    background-color: #FFFFFF;
}
#btn-footer{
    box-sizing: border-box;
    width: 364px;
    height: 53px;
    border-radius: 3.125em;
    background: #CBCBCB;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}
.titulo-modal{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 1.4em;
}
.conteudo-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
}
.table-modal{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.375em;
    line-height: 1.9em;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}
.oculto {
    display: none;
}
/* @media (max-width: 420px) {
    .postagens1, .postagens2, .postagens3 {
      padding-left: 10em;
      padding-right: 20em;
      }
  } */